---
http_interactions:
- request:
    method: post
    uri: http://private-anon-74329c9bea-akamaiopen2purgeccuv2production.apiary-mock.com/ccu/v2/queues/default
    body:
      encoding: UTF-8
      string: '{"domain":"staging","objects":[10000,20000],"action":"remove","type":"cpcode"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - EG1-HMAC-SHA256 client_token=clienttoken;access_token=accesstoken;timestamp=20160803T13:09:03+0000;nonce=65159a4c-f977-4452-be94-476c5641fa63;signature=zKmxpfQu0pOIrTdf6qNvmeoHae1t8qEH4KT9gGMlb/s=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '114'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 57a1ecf0d8fdb60b00c47a0b
    body:
      encoding: UTF-8
      string: |-
        {
         "estimatedSeconds": 420,
         "progressUri": "/ccu/v2/purges/57799d8b-10e4-11e4-9088-62ece60caaf0",
         "purgeId": "57799d8b-10e4-11e4-9088-62ece60caaf0",
         "supportId": "17PY1405953363409286-284546144",
         "httpStatus": 201,
         "detail": "Request accepted.",
         "pingAfterSeconds": 420
        }
  recorded_at: Wed, 03 Aug 2016 13:09:04 GMT
recorded_with: VCR 3.0.3
