---
http_interactions:
- request:
    method: post
    uri: http://private-anon-74329c9bea-akamaiopen2purgeccuv2production.apiary-mock.com/ccu/v2/queues/default
    body:
      encoding: UTF-8
      string: '{"objects":[10000,20000],"action":"invalidate","type":"cpcode"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - EG1-HMAC-SHA256 client_token=clienttoken;access_token=accesstoken;timestamp=20160803T13:08:57+0000;nonce=e153a39b-c7df-49bd-8f8c-2cbd17bdd432;signature=1ODBFpVZAq2+g+P8B9IJWzrs7n3yt5IfNN7JjPF7tM4=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '116'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 57a1ecead8fdb60b00c47a06
    body:
      encoding: UTF-8
      string: |-
        {
         "estimatedSeconds": 420,
         "progressUri": "/ccu/v2/purges/57799d8b-10e4-11e4-9088-62ece60caaf0",
         "purgeId": "57799d8b-10e4-11e4-9088-62ece60caaf0",
         "supportId": "17PY1405953363409286-284546144",
         "httpStatus": 201,
         "detail": "Request accepted.",
         "pingAfterSeconds": 420
        }
  recorded_at: Wed, 03 Aug 2016 13:08:58 GMT
recorded_with: VCR 3.0.3
